@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
/* body {
  @apply font-sans;
} */

.button {
  @apply inline-block my-2 py-2 text-sage-dark hover:text-sage-light font-light text-base tracking-wide uppercase;
}

.is-fixed-ar {
  width: 100%;
  position: relative;
}

.is-fixed-ar::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

.is-fixed-ar::after {
  content: "";
  display: table;
  clear: both;
}

.is-fixed-ar.is-1x1::before {
  padding-top: 100%;
}

@media screen and (max-width: 768px) {
  .is-fixed-ar.is-1x1-mobile::before {
    padding-top: 100%;
  }
}

.is-fixed-ar.is-2x3::before {
  padding-top: 150%;
}

.is-fixed-ar.is-3x2::before {
  padding-top: 66.66%;
}

.ar-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
