<a class="sr-only" href="#main-content">Skip to content</a>
<header
  role="banner"
  class="fixed z-20 w-full md:w-52 lg:w-72 h-14 md:h-auto bg-white"
  >
  <div class="w-full h-full md:p-10 flex justify-between md:flex-col md:justify-start">
    <a href="/" aria-label="{{ site.name }} - home" class="h-full px-5 md:px-0 md:mb-12 flex items-center justify-center md:justify-start text-xl tracking-wider">Aly Dalrymple</a>
    <nav
      class="h-full"
      aria-label="Primary"
      x-data="{ isOpen: false }"
      @keydown.escape="isOpen = false"
    >
      <ul class="hidden md:block">
        {% include "partials/nav-items.html" %}
      </ul>
      <!--Toggle button (hidden on large screens)-->
      <button
        @click="isOpen = !isOpen"
        type="button"
        class="block md:hidden h-full px-5 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500"
        :class="{ 'transition transform-180': isOpen }"
        aria-label="Menu"
      >
        <svg
          class="h-6 w-6 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 24 24"
        >
          <path
            x-show="isOpen"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
          />
          <path
            x-show="!isOpen"
            fill-rule="evenodd"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
          />
        </svg>
      </button>
      <!--Mobile Menu-->
      <div
        class="absolute top-14 left-0 w-screen h-screen z-10 bg-white"
        :class="{ 'block': isOpen, 'hidden': !isOpen }"
        @click.away="isOpen = false"
        x-show.transition="true"
      >
        <ul
          class="flex flex-col flex-grow p-5 pt-8 bg-white"
        >
           {% include "partials/nav-items.html" %}
        </ul>
      </div>
    </nav>
  </div>
</header>



